@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
/* ---------- TABLE OF CONTENTS ----------------- 
1. Global styles 
2. Global classes
3. Header
    3.1 Header. Navigation
    3.2 Header. Content
4. Sections
    4.1 Section "About me"
    4.2 Section "Why me"
    4.3 Section "Carousel"
        4.3.1 Section "Carousel". Buttons and indicators
    4.4 Section "Skills"
    4.5 Section "Contact me"
5. Footer
-------------------------------------------------- */

/* ------ Global styles ------ */

html {
    font-size: 62.5%;
    /*10px == 1rem*/
    height: 100%;
}

body {
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 200;
    color: black;
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
    height: 100%;
}

*, *::before, *::after {
    box-sizing: border-box;
}

header {
    background-color: rgba(0, 0, 0, 0.8);
    height: 100vh;
    background-image: url("../images/background/header_background_max_768.JPG");
    background-position: left bottom;
    background-repeat: repeat;
    background-size: auto 100%;
    background-origin: content-box, border-box;
    margin: 0;
    padding: 0;
}

section {
    min-height: 95vh;
    margin: 1.5rem 0;
    padding: 1.5rem 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

section:last-of-type {
    margin: 0;
    padding: 0;
}

section p {
    font-size: 1.5vw;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {}

h1 {
    font-size: 2.8vw;
    text-align: center;
    font-weight: 200;
    padding: 1.5rem 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
}

h2 {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 200;
    padding: 3rem 0 4rem 0;
    margin: 0;
}

h3 {
    text-align: center;
    font-size: 2vw;
    font-weight: 200;
    padding-bottom: 1.5rem;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

ol {
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%!important;
    /*to fix layout issues caused by some browser extensions adding their styles */
    background: rgba(255, 255, 255, 0.95);
    padding: 1.5rem;
}

textarea {
    border: 0.1rem solid rgba(0, 0, 0, 0.35);
    padding: 0.5rem;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
    width: 100%;
    height: 12rem;
    resize: none;
    overflow: auto;
}

input[type=text], input[type=email] {
    border: 0.1rem solid rgba(0, 0, 0, 0.35);
    height: 3.5rem;
    padding: 0.5rem;
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1.4rem;
    font-weight: 100;
}

textarea:focus, input:focus {
    border-color: #99ced4;
    outline: 0.2rem solid #99ced4;
    box-shadow: none;
    outline-offset: 0;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Raleway', Arial, sans-serif;
    color: #99a4a5;
    opacity: 1;
    /* Firefox */
    font-size: 1.2rem;
    font-weight: 50;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-family: 'Raleway', Arial, sans-serif;
    color: #99a4a5;
    opacity: 1;
    /* Firefox */
    font-size: 1.3rem;
    font-weight: 50;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    font-family: 'Raleway', Arial, sans-serif;
    color: #99a4a5;
    opacity: 1;
    /* Firefox */
    font-size: 1.3rem;
    font-weight: 50;
}

label {
    padding: 1rem 0 0.5rem 0;
    text-align: center;
}

button {
    cursor: pointer;
}

footer {
    margin-top: 0;
    padding-top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
}

/* ------ Global classes ------ */

.container {
    margin: 0rem 6rem;
}

.large-screen-flex {
    display: flex;
    display: -webkit-flex;
    /* Safari */
    justify-content: space-between;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

/* ------ Header ------ */

/* --- Header. Navigation --- */

.navbar-brand img {
    margin: 0;
    padding: 0;
    width: 8vw;
    height: auto;
}

.navigation-bar {
    background-color: white;
    position: fixed;
    padding: 1rem 0;
    width: 100%;
    z-index: 10;
}

.navigation-bar ul {
    list-style: none;
    display: flex;
    display: -webkit-flex;
    /* Safari */
    margin: 0;
    padding: 0;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
}

.underscore-nav-item li {
    margin-left: 2rem;
}

nav .toggle-bars {
    display: none;
}

.underscore-nav-item a {
    position: relative;
}

.underscore-nav-item a::after {
    content: '';
    display: block;
    background-color: #99ced4;
    height: 0.6rem;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -1rem;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.underscore-nav-item a:hover::after, .underscore-nav-item a:active::after, .underscore-nav-item a:focus::after {
    transform: scale(1, 1);
    color: #99ced4;
}

.underscore-nav-item a:hover, .underscore-nav-item a:active, .underscore-nav-item a:focus {
    color: #26555a;
}

.underscore-nav-item a.active {}

.underscore-nav-item a.active:hover {}

/* --- Header. Content --- */

.header-content {
    padding-top: 5%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-content: center;
}

.header-name {
    width: 50%;
    padding: 0;
    margin: 0;
}

.header-name p {
    font-size: 1.8vw;
    text-align: center;
    padding: 2rem 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.header-smIcons {
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.header-smIcons ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    padding: 0 1rem;
    justify-content: center;
    align-content: center;
}

.header-smIcons a {
    font-size: 4.5vh;
    color: #99ced4;
    margin: 0;
    padding: 0;
}

.header-smIcons li {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0;
}

/* ------ Sections ------ */

/* --- Section "About me" --- */

.section-aboutme-text-img img {
    width: 100%;
    height: 100%;
}

.section-aboutme-text-img {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    padding: 1.5rem;
}

.section-aboutme-text {
    width: 50%;
    padding: 1.5rem;
}

.section-aboutme-img {
    width: 50%;
}

.section-aboutme-text p {
    margin: 0;
    padding: 0;
}

.section-aboutme-text {
    display: flex;
    align-self: center;
}

/* --- Section "Why me" --- */

.section-whyme-content {
    background-image: url("../images/background/section_whyme_background.png");
    background-position: center bottom;
    background-repeat: repeat;
    background-size: 100% auto;
    background-origin: content-box, border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-whyme-text-and-prerequisites {
    background-color: white;
    border: 0.1rem solid #26555a;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0 3rem 3rem 3rem;
    padding: 0 5rem;
}

.section-whyme-text {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1.5rem 3rem;
}

.section-whyme-prerequisites {
    width: 50%;
    background-color: rgba(255, 255, 255, 0.75);
    margin-right: 3rem;
    padding: 1.5rem;
}

.prerequisites-links ol {
    padding: 1.5rem 3rem;
    font-size: 1.5vw;
}

.prerequisites-links li {
    padding: 0 0 1.5rem 0;
}

.prerequisites-links img {
    padding-top: 1rem;
    width: 90%;
    height: auto;
}

/* --- Section "Carousel" --- */

.section-carousel {
    margin: 0;
    padding: 0;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(0, 0, 0, 0.90);
}

.section-carousel-content {
    padding-bottom: 6rem;
    width: 100%;
    align-self: center;
}

.section-all-carousel-elements {
    margin: auto;
    position: relative;
    max-width: 100%;
    height: auto;
    border: 0.1rem solid rgba(255, 255, 255, 1);
    padding: 1.5rem 3rem;
}

.carousel-images-list {
    list-style: none;
    margin: 0 0 5rem 0;
    padding: 1.5rem 0;
}

.carousel-images-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
}

.carousel-images-list img {
    width: 50%;
    height: auto;
}

.slides {
    display: none;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0.2
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 0.2
    }
    to {
        opacity: 1
    }
}

/* --- Section "Carousel". Buttons and indicators --- */

.section-carousel button, .dot {
    background-color: rgba(0, 0, 0, 0.8);
    border: 0.1rem solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0.2rem 0.2rem rgb(209, 206, 206);
}

.section-carousel button:hover, .dot:hover {
    background-color: rgba(153, 206, 212, 1);
    color: rgba(0, 0, 0, 0.8);
   border: 0.1rem solid rgba(0, 0, 0, 0.8);
   box-shadow: 0.2rem 0.2rem gray;
}

.section-carousel button:active, .dot:active {
  background-color: rgba(153, 206, 212, 1);
  box-shadow: 0.2rem 0.2rem gray;
  color: rgba(255, 255, 255, 1);
  transform: translateY(0.3rem);
}

.slide-indicators button {
    width: 6rem;
    height: 5.5rem;
    font-size: 2.5rem;
    margin: 1rem;
}

.play-stop-buttons button {
    width: 4rem;
    height: 3.5rem;
    font-size: 2rem;
    margin: 1rem 0.5rem;
}

.buttons-indicators {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
}

.slide-indicators {
    display: inline-flex;
    justify-content: space-between;
    padding-bottom: 15%;
}

.buttons-bottom-carousel {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.dots {
    display: inline-flex;
    margin-right: 30%;
}

.play-stop-buttons {
    display: inline-flex;
}

.dot {
    width: 0.9rem;
    height: 0.9rem;
    margin: 0.5rem;
    border: 0.1rem solid rgba(255, 255, 255, 1);
    border-radius: 50%;
    cursor: pointer;
}

.fill-color {
    background-color: rgba(255, 255, 255, 1);
    border: 0.1rem solid black;
}

/* --- Section "Skills" --- */
.section-skills-iamfamiliarwith {
    color: black;
    display: flex;
}

.cert-accordion {
    background-color: gray;
    color: dimgray;
    outline: none;
    padding: 1.5rem;
    width: 100%;
    border: none;
    text-align: left;
    transition: 0.4s;
}

.active-acc-button, .cert-accordion:hover {
    background-color: gray;
}

.cert-accordion:after {
    content: '\002B';
    color: lightgray;
    font-weight: 150;
    float: right;
    margin-left: 0.5rem;
}

.active-acc-button:after {
    content: "\2212";
}

.cert-accordion-content {
    padding: 0 1.8rem;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* --- Section "Contact me" --- */

.section-contactme {
    background-image: url("../images/background/section_contactme_background.png");
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-origin: content-box, border-box;
    background-color: rgba(153, 206, 212, 0.5);
}

.section-contactme-content {
    padding-bottom: 6rem;
    width: 100%;
}

.section-contactme-form {
    border: 0.1rem solid rgba(0, 0, 0, 0.85);
    padding: 3rem 4rem;
    display: flex;
    justify-content: right;
}

.section-contactme-form input[type=submit] {
    background-color: rgba(0, 0, 0, 0.80);
    height: 3.5rem;
    border: 0.1rem solid #26555a;
    color: #b7f8ff;
    margin: 1.5rem 0;
    font-size: 1.6rem;
    font-weight: 100;
    cursor: pointer;
}

/* ------ Footer ------ */

.footer-smIcons {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-smIcons ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0.5rem 1rem;
}

.footer-smIcons li {
    margin: 2rem;
}

.footer-smIcons a {
    font-size: 2.5vw;
    color: #99ced4;
    margin: 0;
    padding: 0;
}

.footer-about-text {
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 0;
}