/* ---------- TABLE OF CONTENTS ----------------- 
   Media max-width 768px:
1. Global styles 
2. Global classes
3. Header
    3.1 Header. Navigation
    3.2 Header. Content
4. Sections
    4.1 Section "About me"
    4.2 Section "Why me"
    4.3 Section "Carousel"
        4.3.1 Section "Carousel". Buttons and indicators
    4.4 Section "Certificates"
    4.5 Section "Contact me"
5. Footer
-------------------------------------------------- */

@media screen and (max-width: 600px) {
    /* ------  Global styles ------ */
    header {
        min-height: 100vh;
        background-position: left bottom;
        background-size: auto 100vh;
        background-image: url("../images/background/header_background_max_768-600.JPG");
    }
    section p {
        font-size: 1.4rem;
    }
    h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 7vw;
    }
    h3 {
        font-size: 6vw;
    }
    /* ------ Global classes ------ */
    .container {
        margin: 0 2rem;
    }
    .section-contactme-content {
        padding-bottom: 3rem;
    }
    /* ------ Header ------ */
    /* --- Header. Navigation --- */
    .navbar-brand img {
        width: 10rem;
        height: auto;
    }
    .navigation-bar .toggle-bars {
        margin: 0;
    }
    /* --- Header. Content ---*/
    .header-content {
        padding-top: 20rem;
        flex-direction: column;
        align-content: center;
    }
    .header-name {
        width: 100%;
    }
    .header-name p {
        font-size: 5vw;
    }
    .header-smIcons ul {
        flex-direction: row;
    }
    .header-smIcons li {
        margin: 0 1rem;
        padding: 0;
    }
    .header-smIcons a {
        font-size: 7vw;
    }
    /* ------ Sections ------ */
    /* --- Section "About me" --- */
    .section-aboutme {
        background-size: auto 100%;
    }
    .section-aboutme-text p {
        padding: 0;
        margin-top: 2rem;
    }
    /* --- Section "Why me" --- */
    .prerequisites-links ol {
        font-size: 1.4rem;
    }
    /* --- Section "Carousel" --- */
    .carousel-images-list li {
        padding-bottom: 0.5rem;
    }
    
    /* - Section "Carousel". Buttons and indicators - */
    .play-stop-buttons button, .slide-indicators button {
        width: 4rem;
        height: 3.5rem;
        font-size: 1.6rem;
        margin: 1rem 0.5rem;
    }
    .slide-indicators {
        justify-content: center;
        padding-bottom: 73%;
    }
    .dot {
        width: 0.7rem;
        height: 0.7rem;
        margin: 0.3rem;
        border: 0.1rem solid #b7f8ff;
        border-radius: 50%;
    }
    .dots {
        display: inline-flex;
        margin-right: 25%;
    }
    /* --- Section "Skills" --- */
  
    }
    .grid-item{
        width: 6rem;
        height: 6rem;
     
    }
    /* --- Section "Contact me" --- */
    .section-contactme {
        background-image: url("../images/background/section_contactme_background_max_600.png");
        background-size: auto 80%;
    }
    .section-contactme-form {
        padding: 1rem;
    }
    /* ------ Footer ------ */
    .footer-smIcons a {
        font-size: 7vw;
    }
    .footer-about-text p {
        font-size: 3vw;
    }
