/* ---------- TABLE OF CONTENTS ----------------- 
   Media max-width 768px:
1. Global styles 
2. Global classes
3. Header
    3.1 Header. Navigation
    3.2 Header. Content
4. Sections
    4.1 Section "About me"
    4.2 Section "Why me"
    4.3 Section "Carousel"
        4.3.1 Section "Carousel". Buttons and indicators
    4.4 Section "Certificates"
    4.5 Section "Contact me"
5. Footer
-------------------------------------------------- */

@media screen and (max-width: 768px) {
    /* ---  Global styles --- */
    header {
        background-image: url("../images/background/header_background_max_768-600.JPG");
        background-size: auto 100%;
    }
    section {
        margin: 0;
        padding: 0;
    }
    h1 {
        text-align: center;
        font-size: 4vw;
    }
    h2 {
        font-size: 3vh;
    }
    h3 {
        font-size: 2.5vh
    }
    section p {
        font-size: 2vh;
    }
    form {
        width: 100%!important;
        /* to fix layout issues caused by some browser extensions adding their styles */
    }
    /* --- Global classes --- */
    .large-screen-flex {
        display: block;
    }
    .small-screen-flex {
        display: flex;
        display: -webkit-flex;
        /* Safari */
        justify-content: space-between;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
    }
    /* ------ Header ------ */
    /* --- Header. Navigation --- */
    .navigation-bar .toggle-bars {
        display: block;
        font-size: 6vw;
        margin: 0 2rem;
        padding: 0.2rem 0;
    }
    .navigation-bar ul {
        display: none;
    }
    .navigation-bar.responsive ul {
        display: block;
        margin: 3rem 0;
    }
    .underscore-nav-item li {
        margin-top: 1.5rem;
        padding: 1rem;
        text-align: center;
    }
    .underscore-nav-item a {
        padding: 0.5rem;
    }
    .underscore-nav-item a.active {}
    .underscore-nav-item a.active:hover {}
    /* --- Header. Content ---*/
    .header-content {
        padding-top: 10%;
    }
    .header-name p {
        font-size: 3vw;
    }
    .header-smIcons a {
        font-size: 4.5vh;
    }
    .header-smIcons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    /* ------ Sections ------ */
    /* --- Section "About me" --- */
    .section-aboutme-img {
        display: none;
    }
    .section-aboutme-content {
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .section-aboutme-text {
        display: block;
    }
    .section-aboutme-text-img {
        padding: 3rem;
        margin-bottom: 5rem;
    }
    .section-aboutme {
        background-image: url("../images/background/section_aboutme_background.png");
        background-position: right bottom;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-origin: content-box, border-box;
    }
    .section-aboutme-text {
        width: 100%;
        padding: 0;
    }
    .section-aboutme-text p {
        width: 100%;
    }
    /* --- Section "Why me" --- */
    .section-whyme {
        background-image: url("../images/background/section_whyme_background.png");
        background-position: center bottom;
        background-repeat: repeat;
        background-size: contain;
        background-origin: content-box, border-box;
    }
    .section-whyme-content {
        background-image: none;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
    .section-whyme-text-and-prerequisites {
        display: block;
        margin: 0 0 3rem 0;
        padding: 0 3rem;
    }
    .section-whyme-text {
        width: 100%;
        padding: 3rem 0;
        margin-right: 0;
    }
    .section-whyme-text p {
        padding: 1.5rem 0 0 0;
    }
    .section-whyme-prerequisites {
        width: 100%;
        margin-right: 0;
    }
    .prerequisites-links ol {
        padding: 0;
        font-size: 2vh;
    }
    /* --- Section "Carousel" --- */
    .carousel-images-list img {
        width: 100%;
    }
    /* - Section "Carousel". Buttons and indicators - */
    .slide-indicators button {
        width: 5rem;
        height: 4.5rem;
        font-size: 2rem;
    }
    .play-stop-buttons button {
        width: 4.5rem;
        height: 3rem;
        font-size: 1.8rem;
    }
    .slide-indicators {
        padding-bottom: 25%;
    }
    .dots {
        display: inline-flex;
        margin-right: 50%;
    }
    /* --- Section "Certificates" --- */
    /* --- Section "Contact me" --- */
    .section-contactme-content {
        padding-bottom: 2rem;
    }
    .section-contactme {
        background-image: url("../images/background/section_contactme_background_max_768.png");
        background-size: auto 75%;
    }
    .section-contactme-form {
        padding: 2rem;
    }
    /* ------ Footer ------ */
    .footer-smIcons a {
        font-size: 5.5vw;
    }
    .footer-smIcons li {
        margin: 1rem;
    }
}